<%= form_with(model: club) do |form| %>
  <% if club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
        <% club.errors.each do |error| %>
          <h3><%= error.full_message %></h3>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="create-club-box">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :category %>
      <div class="club-form-category-select">
        <%= form.collection_select(:category_id, Category.all, :id, :name) %>
      </div>
    </div>

    <div class="actions">
      <br>
      <%= form.submit %>
    </div>
  </div>
<% end %>
