<p id="notice"><%= notice %></p>

<h1>Clubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Overall rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.overall_rating %></td>
        <td><%= link_to 'Show', club %></td>
        <!--<td><%= link_to 'Edit', edit_club_path(club) %></td> Users should not be able to update clubs-->
        <!--Remove the next line to not allow users to delete clubs either -->
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Club', new_club_path %>
