<p id="notice"><%= notice %></p>

<h1 class="home-page-h1">Rate My Clubs</h1>

<div class="home-main-container">
  <div class="home-content-container">
    <% @clubs.each do |club| %>
      <div class="home-club-container clubs-tr home-row" data-link= "<%= club_path(club.id) %>">
        <div class ="home-ratings-column">
          <div class="home-overall-rating-container">
              <div class="home-overall-rating">
                <%= 
                  if club.overall_rating == -1 
                    "N/A"
                  else
                    club.overall_rating
                  end
                %>
            </div>
          </div>
          <div class="home-number-rating">15 ratings</div>
        </div>
        <div class="home-club-info-column">
          <div class="home-club-name"><%= club.name %></div>
          <div class="home-category-name"><%= Category.find(club.category_id).name %></div>
        </div>
        <div class="home-other-ratings-column">
          <div class= "other-ratings-metric-row">
            <p class="home-rating">5.0</p>
            <p class="home-rating-metric">Rating Metric 1</p>
          </div>
          <div class="home-other-ratings-metric-row">
            <p class="home-rating">5.0</p>
            <p class="home-rating-metric">Rating Metric 2</p>
          </div>
          <div class="home-other-ratings-metric-row">
            <p class="home-rating">5.0</p>
            <p class="home-rating-metric">Rating Metric 3</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="home-category-list">
    <div class="home-category-background">
      <h2 class="home-category-heading">Categories</h2>
      <div class="home-category-container">
        <input type="checkbox" class="home-category-input" name="category1" value="Science">
        <label class="home-category-label"> Science</label><br>
      </div>
      <div class="home-category-container">
        <input type="checkbox" class="home-category-input" name="category2" value="Fun">
        <label class="home-category-label"> Fun</label><br>
      </div>
      <div class="home-category-container">
        <input type="checkbox" class="home-category-input" name="category3" value="Engineering">
        <label class="home-category-label">Engineering</label><br>
      </div>
      <div class="home-category-container">
        <input type="checkbox" class="home-category-input" name="category4" value="Career-Oreinted">
        <label class="home-category-label">Career-Oriented</label><br>
      </div>
    </div>
  </div>
</div>

<div class="home-copyright">Copyrighted 2021</div>

<br>

<!-- Required JavaScript file import "home.js" located in app/javascript/packs -->
<%= javascript_pack_tag 'home' %>

<!--
Only logged in users can create clubs. Leaving this here for reference.
<%= link_to 'New Club', new_club_path %>
-->
