<p id="notice"><%= notice %></p>

<h1>Rate My Clubs</h1>

<table>

  <tbody>
    <% @clubs.each do |club| %>
      <tr class="clubs-tr" data-link= "<%= club_path(club.id) %>">
        <div class="content-container">
          <div class="home-background">
            <div class="club-container">
              <div class ="column">
                <p class="overall-rating"><%= 
                if club.overall_rating == -1 
                  "N/A"
                else
                  club.overall_rating
                end
              %></p>
                <p class= "number-rating">15 ratings</p>
              </div>
              <div class="column">
                <p class="club-name"><%= club.name %></p>
                <p class="category-name"><%= Category.find(club.category_id).name %></p>
              </div>
              <div class="other-ratings">
                <div class= "pair-1">
                  <p class="rating">5.0</p>
                  <p class= "rating-metric">Rating Metric 1</p>
                </div>
                <div class="pair-2">
                  <p class="rating">5.0</p>
                  <p class= "rating-metric">Rating Metric 2</p>
                </div>
                <div class="pair-3">
                  <p class="rating">5.0</p>
                  <p class= "rating-metric">Rating Metric 3</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="space"> </p>
      
        <!-- Go to club page link. Not needed anymore since users can just click on the table row to navigate there now.
        <td><%= link_to 'Show', club %></td>-->
        <!--<td><%= link_to 'Edit', edit_club_path(club) %></td> Users should not be able to update clubs-->
        <!--Remove the next line to not allow users to delete clubs either -->
        <!--
        Moving the Destroy link to the club page. Users will not have this feature in production, but it is kept here for testing purposes.
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->

      </tr>
    <% end %>
    <div class="category-list">
          <div class="category-background">
            <h2 class="category-heading">Categories</h2>
            <div class="category-container">
              <input type="checkbox" class="category" name="category1" value="Science">
              <label class="category-subject"> Science</label><br>
            </div>
            <div class="category-container">
              <input type="checkbox" class="category" name="category2" value="Fun">
              <label class="category-subject"> Fun</label><br>
            </div>
            <div class="category-container">
              <input type="checkbox" class="category" name="category3" value="Engineering">
              <label class="category-subject">Engineering</label><br>
            </div>
            <div class="category-container">
              <input type="checkbox" class="category" name="category4" value="Career-Oreinted">
              <label class="category-subject">Career-Oriented</label><br>
            </div>
          </div>
        </div>
    <p class="copyright">Copyrighted 2021</p>
  </tbody>

</table>

<br>

<!-- Required JavaScript file import "home.js" located in app/javascript/packs -->
<%= javascript_pack_tag 'home' %>

<!--
Only logged in users can create clubs. Leaving this here for reference.
<%= link_to 'New Club', new_club_path %>
-->
