<!--This notice is for showing "Signed out successfully" and 
"Signed in successfully" in rate this club page-->
<p id="notice"><%= notice %></p>

<h1 class="home-page-h1">Rate My Clubs</h1>

<div class="home-page-row">
  <div class="home-category-list">
      <div class="home-category-background">
        <h2 class="home-category-heading">Categories</h2>
        <%= render :partial => "categories/list", locals: {categories: @categories}%>
      </div>
  </div>
  <div class="home-main-container">
    <% if @clubs.first.nil? == true %>
      <div class="home-no-clubs">
        <div class="home-no-clubs-text">No clubs available.</div>
      </div>
    <% else %>
      <div class="home-page-column">
        <div class="home-content-container">
          <% @clubs.each do |club| %>
            <div class="home-club-container clubs-tr home-row" data-link= "<%= club_path(club.id) %>">
              <div class ="home-ratings-column">
                <div class="home-overall-rating-container">
                  <div class="home-overall-rating">
                    <% if club.overall_rating == -1 %>
                      <div>N/A</div>
                    <% else %>
                      <div><%= club.overall_rating %></div>
                    <% end %>
                  </div>
                </div>
                <div class="home-number-rating">
                  <% if club.ratings.count == 1 %>
                    <%= club.ratings.count %> rating
                  <% else %>
                    <%= club.ratings.count %> ratings
                  <% end %>
                </div>
              </div>
              <div class="home-club-info-column">
                <div class="home-club-name"><%= club.name %></div>
                <div class="home-category-name"><%= Category.find(club.category_id).name %></div>
              </div>
              <div class="home-other-ratings-column">
                <div class="home-other-ratings-metric-row">
                  <p class="home-rating">
                    <% if club.career_oriented_rating == -1 %>
                      N/A
                    <% else %>
                      <%= club.career_oriented_rating %>
                    <% end %>
                  </p>
                  <p class="home-rating-metric">Career-Oriented</p>
                </div>
                <div class="home-other-ratings-metric-row">
                  <p class="home-rating">
                    <% if club.enjoyment_rating == -1 %>
                      N/A
                    <% else %>
                      <%= club.enjoyment_rating %>
                    <% end %>
                  </p>
                  <p class="home-rating-metric">Enjoyment</p>
                </div>
                <div class="home-other-ratings-metric-row">
                  <p class="home-rating">
                    <% if club.community_rating == -1 %>
                      N/A
                    <% else %>
                      <%= club.community_rating %>
                    <% end %>
                  </p>
                  <p class="home-rating-metric">Community</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
  
</div>



<br>

<!-- Required JavaScript file import "home.js" located in app/javascript/packs -->
<%= javascript_pack_tag 'home' %>

<!--
Only logged in users can create clubs. Leaving this here for reference.
<%= link_to 'New Club', new_club_path %>
-->
