<h1 class="my-ratings-h1">My Ratings</h1>

<% if user_signed_in? %>

  <!-- Boolean to check if user has rating, else display message -->
  <% hasRating = false %>

  <!-- For each club, display club name and overall rating -->
  <!-- Then display user's general rating and description -->
  <% @clubs.each do |club| %>

    <% if club.ratings.exists?(user_id: current_user.id) %>

      <!-- Club overall_rating and Club name -->
      <%= club.overall_rating %>
      <%= club.name %>

      <br />

      <!-- User rating and User description -->
      <% rating = club.ratings.find_by(user_id: current_user.id) %>
      <%= rating.general_rating %>
      <%= rating.description %>
      <%= rating.career_oriented_rating %>
      <%= rating.enjoyment_rating %>
      <%= rating.community_rating %>
      <!-- Link redirects user to club page -->
      <%= link_to 'Destroy Rating', [club, rating], method: :delete, data: { confirm: "Are you sure?" } %>

      <br />

      <br />

      <% if hasRating == false %>
        <% hasRating = true %>
      <% end %>

    <% end %>
  <% end %>

  <!-- If user has no ratings, provide no-ratings-message -->
  <% if hasRating == false %>
    <p class="no-ratings-message">You don't have any ratings! Add a rating to a club page by clicking on a club on the home page.</p>
  <% end %>

<% else %>
  <p class="my-ratings-not-logged-in-message">You need to be logged in to view your ratings.</p>
<% end %>