<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Overall rating:</strong>
  <%= @club.overall_rating %>
</p>

<!-- Do not allow users to edit clubs -->
<!--<%= link_to 'Edit', edit_club_path(@club) %> |-->
<%= link_to 'Back', clubs_path %>
