<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Overall rating:</strong>
  <%= 
    if @club.overall_rating == -1 
      "N/A"
    else
      @club.overall_rating
    end
  %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@club.category_id).name %>
</p>

<%= link_to 'Destroy', @club, method: :delete, data: { confirm: 'Are you sure?' } %>

<!-- Do not allow users to edit clubs -->
<!--<%= link_to 'Edit', edit_club_path(@club) %> |-->

<!-- Ratings -->
<h2>Ratings</h2>
<%= render @club.ratings %>

<h2>Add a rating:</h2>
<%= render 'ratings/form' %>

<%= link_to 'Back', clubs_path %>