<!--This notice is for showing error message in rate this club-->
<p id="notice1"><%= notice %></p>

<% if user_signed_in? %>
  <% if !@club.ratings.exists?(user_id: current_user.id) %>
    <!-- Ratings -->
    <%= render @club.ratings %>
    <%= render 'ratings/form' %>
  <% else %>
    <p>Looking to create a rating? You already created one! Users can only have one rating per club page.</p> <br />
    <!-- Ratings -->
    <%= render @club.ratings %>  
    <% end %>
<% else %>
  <p>Sign in to create ratings.</p> <br />
  <!-- Ratings -->
  <%= render @club.ratings %>  
<% end %>

<div class="club-overall-info-container">

  <div class="overall-rating-box">
    <div class="overall-rating">
    <%= 
    if @club.overall_rating == -1 
      "N/A"
    else
      @club.overall_rating
    end
    %>
    </div> 
  </div>

  <div class="rating-metric-box1"> 
    <%= 
      if @club.career_oriented_rating == -1 
        "N/A"
      else
        @club.career_oriented_rating
      end
    %>
  </div>

  <div class="rating-metric-box2"> 
    <%= 
    if @club.enjoyment_rating == -1 
      "N/A"
    else
      @club.enjoyment_rating
    end
    %>
  </div>

  <div class="rating-metric-box3"> 
    <%= 
    if @club.community_rating == -1 
      "N/A"
    else
      @club.community_rating
    end
    %>
  </div>
  
  <div class= "overall-rating-names">
    <strong><%= @club.name %></strong>
    <p> <%= Category.find(@club.category_id).name %> </p>
    <br><br>Career-Oriented
    <br><br><br><br>Enjoyment
    <br><br><br><br>Community
  </div>
</div>

<!-- Do not allow users to edit clubs -->
<!--<%= link_to 'Edit', edit_club_path(@club) %> |-->