<h1>Assignments#index</h1>
<p>Find me in app/views/assignments/index.html.erb</p>

<h2>A3</h2>
<%= link_to 'Lawrence', assignments_a3Lawrence_url %>
<br />
<%= link_to 'Max', assignments_a3Max_url %>
<br />
<%= link_to 'Minkyu', assignments_a3Minkyu_url %>
<br />
<%= link_to 'ThanhQuan', assignments_a3ThanhQuan_url %>
<br />  

<h2>A4</h2>
<%= link_to 'Lawrence', assignments_a4Lawrence_url %>
<br />
<%= link_to 'Max', assignments_a4Max_url %>
<br />
<%= link_to 'Minkyu', assignments_a4Minkyu_url %>
<br />
<%= link_to 'ThanhQuan', assignments_a4_thanh_quan_tests_url %>
<br />  
