<div class="setting-edit-header">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>

<div class="setting-big-box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="setting-username-email-box">
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="setting-password-box">
      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    </div>
  <% end %>

  <div class="setting-cancel-account-box">
    <h3>Cancel my account</h3>
    <p>Unhappy?</p>
      <div class="setting-cancel-button">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
  </div>
</div>

<div class="setting-copyrighted">
  <h4>Copyrighted 2021</h4>
</div>

<!--Remove back button-->
<!--<%= link_to 'Back', root_path %>-->