<div class="forgotpass">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h2 class = "forgot_password_title">Forgot your password?</h2>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: 'forgot_password_button' %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>

</div>

<p class="copyright">Copyrighted 2021</p>