<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<div class="topnav">

  <% if user_signed_in? %>    
    <!-- <div class = "show_username" style = "float: right" href="Show Username"><%= current_user.username %></div> -->
    <div class = "user_icon" style = "float: right" href="Show Username">
          <i class="fa fa-user-circle fa-lg"></i>
            <div class = "user_items_container">
              <li class = "user_items"><div style = "float: right" href="Create Club"><%= link_to 'Create Club', new_club_path, class: 'topnav_items' %></div></li>
              <li class = "user_items"><div style = "float: right" href="Create Category"><%= link_to 'Create Category', new_category_path, class: 'topnav_items' %></div></li>
              <li class = "user_items"><div style = "float: right" href="Logout"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'topnav_items' %></div></li>
            </div>
    </div>
  <% else %>
    <div style = "float: right" href="Login"><%= link_to 'Login', new_user_session_path, class: 'topnav_items' %></div>
    <div style = "float: right" href="SignUp"><%= link_to 'Sign Up', new_user_registration_path, class: 'topnav_items' %></div>
  <% end %>
  <div style = "color: white" href="Logo"><%= link_to 'Logo', root_path, class: 'topnav_items' %></div>
  <div style = "color: white" href="About"><%= link_to 'About', about_path, class: 'topnav_items' %></div>
  <div style = "color: white" href="Club Categories"><%= link_to 'Club Categories', categories_path, class: 'topnav_items' %></div>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search for Club" name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  
</div>
</body>
</html>


