<%= form_with(model: assignments_a4_thanh_quan_test) do |form| %>
  <% if assignments_a4_thanh_quan_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignments_a4_thanh_quan_test.errors.count, "error") %> prohibited this assignments_a4_thanh_quan_test from being saved:</h2>

      <ul>
        <% assignments_a4_thanh_quan_test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
