<p id="notice"><%= notice %></p>

<h1 class = "category-page-header">Club Categories</h1>

<table>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <div class="content-container">
          <div class="home-background">
            <div class="club-container">
              <div class ="category-column">
                <p class="category-name-display"><%= category.name %></p>
                <p class= "category-description"><%= category.description%></p>
              </div>
            </div>
          </div>
        </div>
        <p class="spacer"> </p>
        <!--<td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>

    <% end %>
    <div class="content-container">
      <div class="home-background">
        <p class="spacer"> </p>
      </div>
    </div>
    <p class= "new-category"><%= link_to 'New Category', new_category_path %></p>
  </tbody>
</table>

<br>


